.columns > div {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
    .columns > div:nth-of-type(2) > .columns-left {
        order: 2;
    }
    
    .columns > div:nth-of-type(2) > .columns-right {
        order: 1;
    }
}

main .section.columns-container {
    padding: 32px 0;
}

.columns img {
    width: 100%;
    opacity: 0;
    transform: translate(50px, 0);
    transition: transform 0.5s ease-out, opacity 1s;
}

.columns .columns-left img {
    transform: translate(-50px, 0);
}

.columns img.enter {
    opacity: 1;
    transform: translate(0, 0);
}

@media (max-width: 900px) {
    .columns > div {
        padding: 0 32px;
    }
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    display: flex;
    align-items: center;
    flex-direction: unset;
    padding: 20px 0;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    margin-left: 32px;
  }

  .columns > div:nth-of-type(1) > div:first-of-type {
      padding-left: 128px;
  }

  .columns > div:nth-of-type(2) > div:last-of-type {
      padding-right: 128px;
  }
}
