main .video-hero-container > div {
  max-width: unset;
}

main .video-hero-container {
  padding: 0;
}

main .video-hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

main .video-hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

main .video-hero video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
