.showcases > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
}

.showcases > ul > li {
  border: 1px solid var(--highlight-background-color);
  background-color: var(--background-color)
}

.showcases .showcases-card-body {
  margin: 16px;
}

.showcases .showcases-card-body p {
    color: var(--text-color);
}

.showcases .showcases-card-image {
  line-height: 0;
}

.showcases .showcases-card-body > *:first-child {
  margin-top: 0;
}

.showcases > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.showcases .showcases-card {
  scale: 100%;
  transition: scale 0.3s;
}

.showcases .showcases-card:hover {
  scale: 102%;
}
