footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  font-size: var(--body-font-size-xs);
}

footer .footer div {
  margin: 0;
  font-size: var(--body-font-size-xs);
}

@media (max-width: 900px) {
  footer .columns > div {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 900px) {
  footer .columns > div {
    display: flex;
    align-items: center;
    flex-direction: unset;
    padding: 20px 0;
  }

  footer .columns > div>div {
    flex: 1;
    order: unset;
    margin-left: 32px;
    margin-right: 32px;
  }
}
